<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{~/css/style.default.css}" />
</head>
<body marginwidth="0" marginheight="0">
  <div class="container">
    <div class="row">
      <h1>Error</h1>
    </div>
    <p><b>Unfortunately, it looks like something went wrong or the page doesn't exist.</b></p>
    <p th:text="'Date: ' + ${timestamp}"/>
    <p th:text="'Path: ' + ${path}"/>
    <p th:text="'Error: ' + ${error}"/>
    <p th:text="'Status: ' + ${status}">
    <p th:text="'Message: ' + ${message}">
    <p th:text="'Exception: ' + ${exception}">
    <p th:text="'Trace: ' + ${trace}">
</div>
</body>
</html>